<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<a th:href="index">返回文件上传界面</a>
<br>
<ol>
    <li>10条最新信息：
        <table border="1">
            <tr>
                <th>文件名称</th>
                <th>文件类型</th>
                <th>文件大小</th>
                <th>创建时间</th>
                <th>文件位置</th>
                <th>文件加密数字信封</th>

            </tr>
            <tr  th:each="file : ${fileinfoList}">
                <td th:text="${file.filename}"></td>
                <td th:text="${file.filetype}"></td>
                <td th:text="${file.filesize}"></td>
                <th th:text="${file.createon}"></th>
                <th th:text="${file.address}"></th>
                <th th:text="${file.filemail}"></th>
            </tr>
        </table>
    </li>
</ol>
</body>
</html>
